<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css"
  integrity="sha512-ioRJH7yXnyX+7fXTQEKPULWkMn3CqMcapK0NNtCN8q//sW7ZeVFcbMJ9RvX99TwDg6P8rAH2IqUSt2TLab4Xmw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- jhi-header -->

<div class="card m-2 font-sm">
  <div class="card-body">
    <form class="" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="title" class="required">Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            id="title"
            placeholder="Write a unique title"
            (keydown)="onKeyDownTitle($event)"
          />
          <div class="text-danger">
            Title has taken already! Provide new one.
          </div>
        </div>
        <div class="align-self-center col-md-1 h6">
          <i class="fas fa-circle-notch fa-spin"></i>
          <i class="text-success fas fa-check"></i>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="yesno" class="required">Select Employees</label>
          <ng-select
            formControlName="employeePinList"
            [multiple]="true"
            labelForId="yesno"
          >
            <ng-option *ngFor="let employee of employees" [value]="employee.id">
              <img
                alt="employee-img"
                class="rounded"
                src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
                src="data:image/jpg;base64,{{
                  employee.getByteStreamFromFilePath
                }}"
                width="30"
              />
              {{ employee.fullName }}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <ng-containter formArrayName="roasterPlanList">
        <ng-container
          *ngFor="
            let shiftAssignForm of listOfRoasterPlan.controls;
            let i = index
          "
        >
          <div [formGroupName]="i" class="form-row" [id]="'formRow-' + i">
            <div class="form-group col-md-6">
              <label [for]="'shiftId-' + i" class="required"
                >Select Shift
              </label>
              <select
                [id]="'shiftId-' + i"
                class="form-control"
                formControlName="shiftId"
                (change)="onChangeShift(shiftAssignForm)"
              >
                <option [ngValue]="null">
                  Shift Name (Start Time - End Time) - Days - Location
                </option>
                <option [ngValue]="shift.id" *ngFor="let shift of shifts">
                  {{ shift.shiftName }} ({{ shift.inTime }} -
                  {{ shift.outTime }}) - {{ shift.weekends }} -
                  {{ shift.locationName }} - {{ shift.totalWorkingHour }} hours
                </option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="start-date" class="required">Start Date</label>
              <input
                type="text"
                class="form-control"
                id="start-date"
                formControlName="startDate"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #startDate="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="startDate.toggle()"
                type="button"
              ></button>
            </div>

            <div class="form-group col-md-2">
              <label for="end-date" class="required">End Date</label>
              <input
                type="text"
                class="form-control"
                id="end-date"
                formControlName="endDate"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #endDate="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="endDate.toggle()"
                type="button"
              ></button>
            </div>

            <div
              class="form-group col-md-1"
              *ngIf="listOfRoasterPlan.controls.length !== 1"
            >
              <label for="total-hour" style="visibility:hidden">hidden</label>
              <button
                type="submit"
                class="form-control btn-danger"
                (click)="deleteFormRow(i)"
              >
                Delete
              </button>
            </div>

            <div
              class="form-group col-md-1"
              *ngIf="listOfRoasterPlan.controls.length - 1 == i"
            >
              <label for="total-hour" style="visibility:hidden">hidden</label>
              <button
                type="submit"
                class="form-control btn-secondary"
                (click)="addNewFormRow(i, shiftAssignForm)"
              >
                Add
              </button>
            </div>
          </div>
        </ng-container>
      </ng-containter>

      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-secondary mx-1" type="submit">Draft</button>
          <button
            class="btn btn-primary mx-1"
            type="submit"
            [disabled]="editForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <ng-select [items]="cars" 
           bindLabel="name" 
           bindValue="id" 
           [(ngModel)]="selectedCars" 
           [multiple]="true">
</ng-select> -->

<!-- <ng-select [(ngModel)]="selectedCars" [multiple]="true">
      <ng-option *ngFor="let car of cars" [value]="car.id">
        <img
          alt="employee-img"
          src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
          width="30"
        />
        {{ car.name }}
      </ng-option>
    </ng-select> -->
